
<!-- Sessions masthead -->
<header class="masthead text-muted text-center pt-4">
  <div class="overlay"></div>
  <div class="container">

      <div class="row pt-5">
        <!-- <div class="col-xl-9 mx-auto"> <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1> </div> -->
        <div class="col-md-5 col-lg-4 col-xl-3 mx-auto mb-5">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                       html:         { class: 'form-signin' }) do |f| %>

            <span id="reauth-email" class="reauth-email"></span>

            <div class="form-group">
              <%= f.email_field :email,
                                class: 'form-control',
                                required: 'required',
                                autocomplete:  'off',
                                placeholder:   "Email or username"
              %>
            </div>

            <br>
            <div class="form-group">
              <%= f.password_field :password,
                                   class: 'form-control',
                                   required: 'required',
                                   autocomplete:     'off',
                                   placeholder:      "Password"
              %>
            </div>
            <br>

            <% if devise_mapping.rememberable? %>
              <div id="remember" class="checkbox session-font"></div>
            <% end %>

            <div class="row">
              <div class="col-6">
                <%= f.submit 'Log In', class: 'btn btn-lg btn-block btn-app' %>
              </div>
              <div class="col-6">
                <%= link_to 'Cancel', root_path, class: 'btn btn-lg btn-app btn-app-inverted' %>
              </div>
            </div>
            <br><br>
          <% end %>

          <p class="text-muted text-center small">
            Not a member? <%= link_to 'Sign up', new_user_registration_path %> for an account!
          </p>
        </div>
      </div>
  </div>
</header>

