<!-- Sessions masthead -->
<header class="masthead text-muted text-center pt-4">
  <div class="overlay"></div>
  <div class="container">

    <div class="row pt-5">
      <!-- <div class="col-xl-9 mx-auto"> <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1> </div> -->
      <div class="col-md-5 col-lg-4 col-xl-3 mx-auto mb-5">
        <%= form_for(@user, url: registration_path(@user),
                     html:       { class: 'form-signup' }) do |f| %>

          <div class="form-group">
            <%= f.email_field :email,
                              autocomplete: 'off',
                              autofill:     'nope',
                              class:        'form-control',
                              required:     'required',
                              placeholder:  'Email'
            %>
          </div>
          <br>

          <div class="form-group">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password,
                                 autocomplete: 'nope',
                                 class:        'form-control',
                                 required:     'required',
                                 placeholder:  "Password"
            %>
          </div>
          <br>
          <div class="form-group">
            <%= f.password_field :password_confirmation,
                                 autocomplete: 'nope',
                                 class:        'form-control',
                                 required:     'required',
                                 placeholder:  "Confirm your password"
            %>
          </div>
          <br><br>

          <div class="row">
            <div class="col-6">
              <%= f.submit 'Sign up!', class: 'btn btn-lg btn-block btn-app' %>
            </div>
            <div class="col-6">
              <%= link_to 'Cancel', root_path, class: 'btn btn-lg btn-app btn-app-inverted' %>
            </div>
          </div>
        <% end %>
        <br><br>

        <p class="text-muted text-center small">
          Already a member? <%= link_to 'Log in', new_user_session_path %> to your account
        </p>

      </div>
    </div>
  </div>
</header>

