<div class="col-12 mb-2 keyword-div">

  <span class="keyword-word col-3 col-sm-3 float-sm-left float-left px-0">
    <%= keyword.word %>
  </span>

  <span class="keyword-title col-7 float-left float-sm-left text-left">
    <a href="#"
       tabindex="0"
       onclick="return false;"
       data-toggle="popover"
       data-trigger="focus"
       title="<%= keyword.description.presence || 'Description not available' %>"
       data-content="Usage: <%= keyword.usage.presence %>">
      <%= keyword.title %>
    </a>
    </span>


  <span class="col-1 col-sm-1 float-sm-left px-0">
    <% if account && add_link && keyword.account_id != account.id %>
      <%= link_to "<i class='fas fa-plus'></i>".html_safe,
                  new_keyword_path(id: keyword.id),
                  class: 'fa-small edit-keyword' %>
    <% end %>

    <% if account && edit_link && keyword.account_id == account.id %>
      <%= link_to "<i class='fas fa-pen'></i>".html_safe,
                  edit_keyword_path(keyword),
                  class: 'fa-small edit-keyword' %>
    <% end %>

  </span>
</div>

