<section class="bg-grey pb-5">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">


        <div class="row text-center text-muted">
          <div class="col">
            <h6>Keywords</h6>
          </div>
        </div>

        <% if @keywords.present? %>

          <% @keywords.each do |keyword| %>
            <div class="row" style="border-top:1px solid #b5b9bd;padding:10px;">
              <div class="col-"><%= keyword.word %></div>
              <div class="col-8"><%= keyword.title %></div>
              <div class="col-1 float-right">
                <i class="fab fa-facebook"></i>
              </div>
            </div>
          <% end %>

        <% end %>


      </div>
    </div>
  </div>
</section>
