<!-- Masthead -->
<header class="text-muted">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
<!--       <div class="col-xl-9 mx-auto"> <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1> </div>-->
      <div class="col-md-10 col-lg-6 col-xl-7 mx-auto mb-5">

        <div class="form-row">
          <div class="col-9 mx-auto text-center mb-3">
<!--            <h6>Add a keyword</h6>-->
          </div>
        </div>

        <%= form_for @keyword, html: {id: 'form'} do |f| %>
          <div class="form-row">

            <div class="col-12 col-md-12 mb-3 mb-md-3">
              <%= f.label :title, 'Website' %>
              <%= f.text_field :title,
                                 class:        "form-control form-control-lg",
                                 required:     "required",
                                 autocomplete: 'off'
              %>
            </div>
            <div class="col-12 col-md-12 mb-3 mb-md-3">
              <%= f.label :word, 'Keyword' %>
              <%= f.text_field :word,
                               class:        "form-control form-control-lg",
                               required:     "required",
                               autocomplete: 'off'
              %>
            </div>
            <div class="col-12 col-md-12 mb-3 mb-md-3">
              <%= f.label :url_template, 'URL Template' %>
              <%= f.text_field :url_template,
                               class:        "form-control form-control-lg",
                               required:     "required",
                               autocomplete: 'off'
              %>
            </div>
            <div class="col-12 col-md-12 mb-3 mb-md-3">
              <%= f.label :category_id, 'Category' %>
              <%= f.select :category_id,
                           @categories.all.collect { |cat| [cat.title, cat.id] },
                           {
                           },
                           {
                               class: "form-control form-control-lg select-css",
                           }
              %>
            </div>
            <div class="col-12 col-md-12 mb-3 mb-md-3">
              <%= f.label :description, 'Description' %>
              <%= f.text_area :description,
                               class:        "form-control form-control-lg",
                               autocomplete: 'off'
              %>
            </div>
            <div class="col-12 col-md-12 mb-3 mb-md-3">
              <%= f.label :usage, 'Usage' %>
              <%= f.text_field :usage,
                               class:        "form-control form-control-lg",
                               autocomplete: 'off'
              %>
            </div>

            <div class="col-12 col-md-12 mb-3 mb-md-3">
              <span><%= f.label :shared, 'Share keyword with community?' %></span>
              <span class="pl-2"><%= f.check_box :shared, {}, 'true', 'false' %></span>
            </div>

          </div>


          <div class="form-row">
            <div class="col-12 col-md-12">
              <hr>
              <br>
              <div class="row">

                <div class="col">
                      <%= f.button 'Save', class: 'btn btn-lg btn-app col-12' %>
                </div>

                <div class="col">
                      <%= link_to 'Cancel', root_path, class: 'btn btn-lg btn-app btn-app-inverted col-12' %>
                </div>

                <div class="col">
                    <% if @keyword.persisted? %>
                        <%= link_to 'Delete',
                                    keyword_path(@keyword),
                                    method:  :delete,
                                    data: { confirm: 'Are you sure you want to remove this keyword? This cannot be undone...' },
                                    class:   'btn btn-app btn-remove col-12'
                        %>
                    <% end %>
                </div>


              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>


