<section class="bg-grey text-center pb-5">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">

        <div id="keyword-card">
          <div id="headingKeywords"><h5 class="mb-0 category-title"><%= @category.title %></h5>
          </div>

          <div class="row">
            <div class="col-12">
            </div>
          </div>

          <br>

          <div class="d-flex bd-highlight flex-wrap">
            <% if @category.keywords.present? %>
              <div class="p-2 flex-fill bd-highlight col-lg-4 col-md-4 col-xs-12">


                <div class="row"><!-- list div-->
                  <% @category.keywords.shared.each do |keyword| %>

                    <%= render partial: 'app/keywords/keyword',
                               locals:  {
                                   keyword:   keyword,
                                   account:   current_account,
                                   edit_link: false,
                                   add_link:  true
                               }
                    %>

                  <% end %>
                </div>
              </div>
            <% end %>

          </div>
        </div>

      </div><!--      col-->
    </div><!--    row-->
  </div><!--  container-->
</section>





