@import "~bootstrap";
@import "../stylesheets/template/css/landing-page";
@import "../stylesheets/custom";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

$simple-line-font-path: '~simple-line-icons/fonts/';
@import "~simple-line-icons/scss/simple-line-icons";


