// custom css goes here

$body-text: #212529;// #ccc;
$background-color: #f7f7f7;
$link-color: #3fb8e8;
$dark-link-color: #3293ba;
$delete-color: #C53B44;
$delete-color-dark: #621d22;
$border-color: #ced4da;
$border-radius: 5px;
$text-muted-color: #6c757d;

.bg-light {
  background-color:#fff !important;
}

.bg-grey {
  background-color:$background-color !important;
}

header.masthead .overlay {
  background-color: $background-color !important;
}

header.masthead {
  background: none !important;
  padding-bottom: 0!important;
  padding-top: 2rem !important;
}

.btn-app {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: background .1s ease-in-out;
  -ms-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  -webkit-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
  background-color: $link-color;
  box-shadow: 0 3px 0 0 $dark-link-color;
  -webkit-box-shadow: 0 3px 0 0 $dark-link-color;
  -moz-box-shadow: 0 3px 0 0 $dark-link-color;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 100%;
  outline: 0 none;
  padding: 13px 26px;
  text-decoration: none;
  font-weight: 700;
}
.btn-app-normal {
  box-shadow: 0 3px 0 0 $dark-link-color;
  -webkit-box-shadow: 0 3px 0 0 $dark-link-color;
  -moz-box-shadow: 0 3px 0 0 $dark-link-color;
  background-color: $link-color;
  color: #fff !important;
}

.btn-app-normal:hover {
  background-color: #1baae3;
  color: #fff !important;
}

.btn-app-inverted {
  color: $link-color !important;
  border: solid 2px $link-color !important;
  border-bottom: none !important;
  box-shadow: 0 3px 0 0 $dark-link-color;
  -webkit-box-shadow: 0 3px 0 0 $dark-link-color;
  -moz-box-shadow: 0 3px 0 0 $dark-link-color;
  background-color: #fff !important;
}

.btn-app-inverted:hover {
  background-color: $link-color !important;
  color: #fff !important;
}

.btn-remove {
  background-color: $delete-color;
  box-shadow: 0 3px 0 0 $delete-color-dark;
  -webkit-box-shadow: 0 3px 0 0 $delete-color-dark;
  -moz-box-shadow: 0 3px 0 0 $delete-color-dark;
  color: #fff !important;
}
.btn-remove:hover {
  color: #fff !important;
}



a {
  color: $link-color !important;
}
a:hover {
  color: $dark-link-color !important;
  text-decoration: none !important;
}

body {
  color: $body-text !important;
  background-color: $background-color;
}

.btn-link {
  background: none!important;
  border: none;
  padding: 0!important;
  color: $link-color !important;
  cursor: pointer;
}
.btn-link:hover {
  text-decoration: none;
  color: $dark-link-color !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(63, 184, 232, 0.25) !important;
  //border-color:$link-color !important;
  border-color: #fff !important;
}

.nav-bar-items a {
  font-size: 90% !important;
}

#keyword-card {
  border: 0 !important;
}

#keyword-card .card-header {
  border: 0 !important;
  background-color: $background-color;
}

#keyword-card .keyword-word {
  font-style: italic;
}


#keyword-card .category-title {
  background-color: #d9d9d9;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding:5px;
  margin-bottom: 10px;
  color: $body-text !important;
}

a.edit-keyword {
  color: $body-text !important;
  //font-size: 10px;
}

.fa-small {
  font-size: 10px !important;
}

.main-container {
  min-height: 75vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  //padding-bottom: 100px; /* height of your footer */
}

footer {
  //padding-bottom: 2rem !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}
// STYLING SELECT //
.select-css {
  display: block;
  font-family: sans-serif;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid $border-color;
  //box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.select-css::-ms-expand {display: none;}
.select-css:hover {border-color: #888;}
.select-css:focus {
  border-color: #aaa;
  //box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  //box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight:normal;
  font-size: .85rem !important;
}
// STYLING SELECT END //



.keyword-title a {
  color: $body-text !important;
}

#search-field {
  padding: 10px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
  font-size: 1.25rem;
  line-height: 1.5;
  height: calc(1.5em + 1rem + 2px);
  border: 1px solid $border-color;
  border-right: none;
}

#search-field:focus {
  box-shadow: none !important;
  border-color: $border-color !important;
}

#search-button {
  float: left;
  width: 20% !important;
  padding: 10px;
  background: white;
  color: $text-muted-color !important;
  font-size: 17px;
  border: 1px solid $border-color;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

#search-button:hover {
  //background: #0b7dda;
}

#search-box::after {
  content: "";
  clear: both;
  display: table;
}

.left-border-radius {
  // all borders
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  // left top corner
  -moz-border-top-left-radius: $border-radius;
  -webkit-border-top-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
  // left bottom corner
  -moz-border-bottom-left-radius: $border-radius;
  -webkit-border-bottom-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  // right border
  border-right: 0 !important;
}

.right-border-radius {
  // all borders
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  // right top corner
  -moz-border-top-right-radius: $border-radius;
  -webkit-border-top-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
  // right bottom corner
  -moz-border-bottom-right-radius: $border-radius;
  -webkit-border-bottom-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  // right border
  border-left: 0 !important;
}
