<section class="bg-grey text-center pb-5">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">

        <div id="keyword-card">
          <div id="headingKeywords"><h3 class="mb-2 text-muted">:: Community ::</h3></div>

          <div class="row">
            <div class="col-12">
              Here are some of the popular shortcuts created and shared by members of our community.
              <% unless current_account %>
                <br>
                <%= link_to 'Sign up', new_user_registration_path %>
                to save them to your account and start using them!
              <% end %>
            </div>
          </div>

          <br>

          <div class="d-flex bd-highlight flex-wrap pt-3 px-3" style="background-color: white">
            <%# @categories.each do |category| %>
              <%# keywords = category.keywords.shared %>
              <% if @keywords.present? %>
              <% @keywords.group_by(&:category).each do |category, keywords| %>
                <div class="p-2 flex-fill bd-highlight col-lg-4 col-md-4 col-xs-12 mb-4">
                  <div class="row"><!-- title div -->
                    <div class="col">

                      <a href="#category-list-<%= category.id %>" data-toggle="collapse">

                        <div class="category-title">
                          <div class="row">
                            <div class="col-2">
                              <i class="fas fa-plus fa-small"></i></div>
                            <div class="col-8"><%= category.title %></div>
                          </div>
                        </div>

                      </a>

                    </div>
                  </div>
                  <div id="category-list-<%= category.id %>" class="row collapse collapse-with-icon-change"><!-- list div-->
                    <% keywords.first(5).each do |keyword| %>

                      <%= render partial: 'app/keywords/keyword',
                                 locals:  {
                                     keyword:   keyword,
                                     account:   current_account,
                                     edit_link: false,
                                     add_link:  true
                                 }
                      %>

                    <% end %>
                    <div class="col-12 small pt-2 text-left pl-5">
                          <%= link_to 'More...', community_category_path(category) %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <%# end %>
          </div>
        </div>

      </div><!--      col-->
    </div><!--    row-->
  </div><!--  container-->
</section>



