<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> SearchByKeyword - Take your search settings with you!</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap core CSS -->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>

<!-- Navigation -->
<nav class="navbar navbar-light bg-grey static-top">
  <div class="container">


    <a class="navbar-brand" href="/">
      <span class="mx-auto" style="font-size: 1.5rem">
        search_x_keyword
      </span>
    </a>

    <div class="row nav-bar-items">
      <% if user_signed_in? %>
        <%= link_to  'Search', root_path, style: 'float: right', class: 'mr-3'%>
        <%= link_to 'Community', community_keywords_path, style: 'float:right', class: 'mr-3' %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn-link' %>
      <% else %>
        <% unless params[:controller] == 'auth/users/sessions' %>
          <span class="mx-2">
            <%= link_to 'Log In', new_user_session_path %>
          </span>
        <% end %>

        <% unless params[:controller] == 'auth/users/registrations' %>
          <span class="mx-2">
            <%= link_to 'Sign up', new_user_registration_path %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>



<div class="main-container">
<header class="text-muted text-center pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-10 col-xl-10 mx-auto">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>

<%= yield %>
</div>


<!-- Footer -->
<footer class="footer bg-grey col-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; 2019 SearchByKeyword. All
          Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>

</html>


